<div class="text-center mb-4" style="padding-top: 140px">
    <h1 class="display-4 text-white fw-light mb-2">
        Busque informações do seu
    </h1>
    <h1 class="display-3 fw-bold mb-3" style="color: #ebb2c0;">
        domínio!
    </h1>
    <p class="lead text-white fs-6 mb-4">
        Consiga as informações de DNS de um domínio com um simples clique!
    </p>
</div>
